{% extends "bootstrap.html" %}
{% block content %}
<table id="record_table" class="display" cellspacing="0" width="100%">
<thead>
            <tr>
                <th>Name</th>
                <th>StreetNumber</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
            </tr>
        </thead>

 
<tbody>
{% for address in addresses %}
	<tr>
		<td>{{address}}</td>
	</tr>
{% endfor %}
</tbody>

</table>

<button id="seemap">Show On Map</button>
<div id = 'map' class="col-md-8" style = 'height:600px'>
  </div>
    <script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: 30.3223, lng: -97.7167}
  });
  var geocoder = new google.maps.Geocoder();

  document.getElementById('seemap').addEventListener('click', function() {
	var streetnumber = document.getElementById('id_streetnumber').value;
	var streetname = document.getElementById('id_streetname').value;
	var city = document.getElementById('id_city').value;
	var state = document.getElementById('id_state').value;
	var address = streetnumber.concat(streetname,city,state);
    geocodeAddress(address,geocoder, map);
  });
}
function geocodeAddress(address,geocoder, resultsMap) {
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      window.alert(results[0].formatted_address);
      console.log(results[0]);
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTsSeQGLBSVcavJmuPzArVLuGt7MGXaSw&signed_in=true&callback=initMap"
        async defer></script>

{% endblock %}